<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>
<script>
    let beian = ""
    if (document.domain.includes("usfl.cn")){
        document.title = "悠枫个人站2"
        beian = "渝ICP备2021006206号-2"
    }else if (document.domain.includes("bacor.cn")){
        document.title = "有用个人站2"
        beian = "渝ICP备2021006206号-1"
    }else if (document.domain.includes("kafi.work")){
        document.title = "悠枫个人站3"
        beian = "渝ICP备2021006206号-3"
    }else if (document.domain.includes("apptrack.cc")){
        document.title = "悠枫个人站4"
        beian = "渝ICP备2021006206号-4"
    }else{
        beian = "渝ICP备2021006206号"
    }
    document.getElementById("beian").innerText = beian
</script>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}"/>
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
